/node_modules
/public/hot
/public/pict/bg.jpg
/public/pict/logo.jpg
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
nnmpz.sublime-project
nnmpz.sublime-workspace